<% if current_user %>
    <h2>My user</h2>
    <p>
      <%= current_user.name %>
      <br/>
      <%= current_user.email %>
    </p>
    <h2>My logins</h2>
    <% current_user.authentications.each do |auth| %>
        <div class="provider">
          <%= image_tag("icons/#{auth.provider}-64x64.png",
                                :alt => auth.provider.capitalize,
                                :title => auth.provider.capitalize) %>
          <p>
            <%= auth.provider.capitalize %>
            <br/>
            <%= auth.uid %>
            <br/>
            <%= auth.name %>
            <br/>
            <%= auth.email %>
          </p>
        </div>
    <% end %>
    <p style="clear: both"></p>
    <h2>Add a login</h2>
<% else %>
    <h2>Log in via one of the following</h2>
<% end %>
<% LOGIN_PROVIDERS.each do |provider| %>
    <div class="provider">
      <%= link_to image_tag("icons/#{provider.to_s}-64x64.png",
                            :alt => t('link.login.with', :provider => provider.to_s.capitalize),
                            :title => t('link.login.with', :provider => provider.to_s.capitalize)),
                  "/auth/#{provider.to_s.downcase}" %>
      <p>
        <%= link_to 'Log in with #{provider.to_s.capitalize}',
                    "/auth/#{provider.to_s.downcase}" %>
      </p>
    </div>
<% end %>
